.title {
    /* Background gradient */
  background-image: url('../../assets/images/auth/text_background.jpg');

  background-size: cover;
  /* Background Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */

  background-clip: text;
}

.text-slide2 {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px white; /* width and color */
  background-size: cover;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;

}

.carousel .group[data-testid="carousel-left-control"],
.carousel .group[data-testid="carousel-right-control"] {
    display: none;
}