.playlistSong::-webkit-scrollbar {
    display: none;
}

.premium {
    width: calc(100% - 221px);
}

.notPremium {
    width: calc(100% - 157px);
}

.premiumChart {
    width: calc(92% - 216px);
}

.notPremiumChart {
    width: calc(92% - 147px);
}

.premiumWeek {
    width: calc(90% - 211px);
}

.notPremiumWeek {
    width: calc(90% - 147px);
}

.premiumTrackPage {
    width: calc(100% - 147px);
}

.notPremiumTrackPage {
    width: calc(100% - 85px);
}